@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans&family=Source+Code+Pro&display=swap');
/*
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;  
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

a {
    color: #fff;
    opacity: 1;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

a:hover {
    opacity: 0.8;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.logo {
    display: inline-block;
    height: 57.5px;
    padding: 3.75px;
}

.center-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-container-row {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notif {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;
}

.notif-box {
    position: relative;

    background-color:rgb(202, 0, 0);
    opacity: 0;

    max-height: 0px;
    overflow: hidden;

    width: 100%;
    margin: 0px;

    transition: all 1s ease;
}

.textNotif {
    font-family: 'Open Sans', sans-serif; 

    width: calc(100% - 30px);

    margin-right: 15px;
    margin-left: 15px;

    text-align: left; 
    color: white;
}

.titleNotif {
    font-weight: bold;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 3px;
}

.progress {
    display: block;
    position: absolute;

    height: 3px;
    width: 100%;
    bottom: 1px;
    
    background-color: transparent;
    background-clip: padding-box;

    overflow: hidden;

}

.progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255); 
    transition: all 0.5s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #232323;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(255, 255, 255, 0.7);
}