@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 100;
	src: url('100.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 200;
	src: url('200.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 300;
	src: url('300.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	src: url('regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 500;
	src: url('500.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	src: url('600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	src: url('700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 800;
	src: url('800.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 900;
	src: url('900.woff2') format('woff2');
}
