@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css) (prefers-color-scheme: light);
@import url(theme.dark.css) (prefers-color-scheme: dark);

:root {
	color: var(--md-sys-color-on-background);
	background-color: var(--md-sys-color-background);

	--md-sys-color-surface-1: rgb(var(--md-sys-color-primary-rgb) / 0.05);
	--md-sys-color-surface-2: rgb(var(--md-sys-color-primary-rgb) / 0.08);
	--md-sys-color-surface-3: rgb(var(--md-sys-color-primary-rgb) / 0.11);
	--md-sys-color-surface-4: rgb(var(--md-sys-color-primary-rgb) / 0.12);
	--md-sys-color-surface-5: rgb(var(--md-sys-color-primary-rgb) / 0.14);
}

/* Container - TODO: Explain */
.container {
	margin: auto;
	padding: 0 1rem;
}

@media (min-width: 480px) {
	.container {
		max-width: 480px;
	}
}

/* H1 -  */
h1 {
	margin: 0;
}

/* P -  */
p {
	margin: 0;
}

/* antialiased */
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.bold {
	font-weight: bold;
}

.thin {
	font-weight: 300;
}
